<div class="container" style="padding-left: 70%">
    <div class="row">
        <div class="col">
            <h1><%= link_to "Créer un évènement", admin_events_new_path, :class => "btn btn-primary btn-sm" %></h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col offset-md-3">
            <h1>Evènements : </h1>
        </div>
    </div>
</div>
<br>
<br>
<div class="card border-light">
  <div class="card-body" style="margin-left: 10%; margin-right: 5%">
    <table class="table table-hover">
      <thead style="background-image: linear-gradient(white, lightgray, white);">
        <tr>
          <th scope="col"></th>
          <th scope="col">Nom</th>
          <th scope="col">Description</th>
          <th scope="col">Lieu</th>
          <th scope="col">Date de début</th>
          <th scope="col">Date de fin</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <% e = 0 %>
    <% @events.each do |event| %>
      <% e = e + 1 %>
        <tbody>
          <tr>
            <th scope="row"><%= e %></th>
            <td><%= event.name %></td>
            <td><%= event.description %></td>
            <td><%= event.place_name %></td>
            <td><%= event.start_date.to_s %></td>
            <td><%= event.end_date.to_s %></td>
            <td><%= link_to "Modifier", admin_events_edit_path(event.id), :class => "btn btn-info" %></td>
            <td><%= link_to "Supprimer", admin_events_destroy_path(event.id), data: {turbo_method: :delete, turbo_confirm: "Êtes-vous sûr de vouloir supprimer cet évènement?"}, :class => "btn btn-danger btn-sm" %></td>
          </tr>
        </tbody>
      <% end %>
    </table>
  </div>
</div>