<!DOCTYPE html>
<html>
  <head>
    <title>CulturalAgenda</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar" style="background-image: linear-gradient(white, lightgray, white);">
      <a class="navbar-brand" href="/">CulturalAgenda</a>
      <ul class="navbar-nav">
        <% if admin_signed_in? %>
          <li class="nav-item">
            <%= link_to "Salut, #{current_admin.email}", edit_admin_registration_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "-  Se déconnecter  -", destroy_admin_session_path, class: "nav-link" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "-  Se connecter  -", new_admin_session_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "-  S'enregistrer  -", new_admin_registration_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </nav>
    <p class="notice"><%= notice %></p> 
    <p class="alert"><%= alert %></p> 
    <%= yield %>
  </body>
</html>
