<!DOCTYPE html>
<html>
  <head>
    <title>CulturalAgenda</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <nav class="navbar rounded" style="background-image: linear-gradient(white, lightgray, white);">
  <a class="navbar-brand" href="/admin/events/">CulturalAgenda</a>
  </nav>
    <%= yield %>
  </body>
</html>
